.manual-list-sorter {
  #word {
    font-size: 1.5em;
  }

  #selects {
    display: flex;
    flex-wrap: wrap;
    user-select: none;

    div {
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 10px;

      &:hover {
        background: rgba(255, 255, 255, 0.07);
      }

      &.selected {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }

  @media (min-width: 500px) {
    .two-lists {
      display: flex;

      textarea:first-child {
        margin-right: 0.5em;
      }

      textarea:last-child {
        margin-left: 0.5em;
      }
    }

    #word {
      font-size: 3em;
    }
  }

  @media (max-width: 900px) {
    #word ~ button:last-child {
      margin-top: 0;
    }
  }
}
